<div class="body">
    <div class="wrap-login">
        <mat-spinner  *ngIf="loading" diameter="50" class="login-spinner"></mat-spinner>
        
        <form [formGroup]="form" *ngIf="!loading" (ngSubmit)="onSubmit()">
            <img src="../../../assets/login.png" alt="Login">
            <h1>Login</h1>
             <mat-form-field appearance="fill" class="iput-width">
                <mat-label>Usuario</mat-label>
                <input type="text" matInput formControlName="username" required autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="fill" class="iput-width">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput formControlName="password" required autocomplete="off">
            </mat-form-field>
            <br>
            <button type="submit" mat-raised-button color="primary" class="iput-width button-login" [disabled]='form.invalid'>Ingresar</button>
        </form>
    </div>
</div>
